<h1 mat-dialog-title> Integrantes </h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Ingrese el nombre</mat-label>
                    <input formControlName="name" matInput>
                    <mat-hint>
                        Ingresar el nombre del integrante,que tenga como minimo 3 letras.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Ingrese el apellido</mat-label>
                    <input formControlName="lastName" matInput>
                    <mat-hint>
                        Ingresar el apellido del integrante.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Ingrese el Email</mat-label>
                    <input formControlName="email" matInput>
                    <mat-hint>
                        Ingresar el email del integrante. Este debe incluír un @.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label class="w-100">Ingrese la nota del 1er examen</mat-label>
                    <input type="number" formControlName="grade" matInput>
                    <mat-hint>
                        Ingresar la nota del primer examen. Esta debe ser un numero o 0 si es un rol administrativo.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-6 w-100">
                <mat-form-field class="w-100">
                    <mat-label class="w-100">Permiso a otorgar</mat-label>
                    <mat-select formControlName="role" class="w-100">
                        <mat-option *ngFor="let permit of userPermits" [value]="permit.value">
                            {{permit.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label class="w-100">Ingrese la contraseña</mat-label>
                    <input formControlName="password" matInput>
                    <mat-hint>
                        Ingresar la nota del primer examen. Esta debe ser un numero o 0 si es un rol administrativo.
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Borrar</button>
    <button (click)="onSubmit()" mat-button>Guardar </button>
    <!--Aquí se envían los valores que quiero recibir del form-->
</div>