<form [formGroup]="userForm">
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Nombre</mat-label>
                <input formControlName="name" matInput>
                <mat-hint>El nombre debe contener al menos 4 letras</mat-hint>

            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Apellido</mat-label>
                <input formControlName="lastName" matInput>
                <mat-hint>El apellido debe contener al menos 4 letras</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Edad</mat-label>
                <input formControlName="age" type="number" matInput>
                <mat-hint>Introducir una edad entre 15 a 55 años</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Email</mat-label>
                <input formControlName="email" matInput>
                <mat-hint>La dirección EMAIL debe incluír un @</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">

        </div>
    </div>
</form>
